{% extends "base.html" %}

{% block content %}
<h1>Register</h1>
{% from "include/_formhelpers.html" import render_field %}
<form action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{render_field(form.username, class_="form-control")}}
    </div>
    <div class="form-group">
        {{render_field(form.email, class_="form-control")}}
    </div>
    <div class="form-group">
        {{render_field(form.password, class_="form-control")}}
    </div>
    <div class="form-group">
        {{render_field(form.password2, class_="form-control")}}
    </div>
    <p><input type="submit" class="btn btn-primary" value="Register"></p>
</form>
{% endblock %}